@import "tailwindcss";

:root {
  --background: #fff1f2; /* Rose 50 */
  --foreground: #4c0519; /* Rose 950 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Primary Rose */
  --color-primary-50: #fff1f2;
  --color-primary-100: #ffe4e6;
  --color-primary-200: #fecdd3;
  --color-primary-300: #fda4af;
  --color-primary-400: #fb7185;
  --color-primary-500: #f43f5e;
  --color-primary-600: #e11d48;
  --color-primary-700: #be123c;
  --color-primary-800: #9f1239;
  --color-primary-900: #881337;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
